# Botnoi Mini Project : Kaidee Dataset

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.model_selection import cross_val_score

- import ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏à‡∏≤‡∏Å train.csv ‡πÅ‡∏•‡∏∞ test.csv

In [32]:
def load_data():
    train_df = pd.read_csv('train.csv')
    test_df = pd.read_csv('test.csv')
    return train_df, test_df

In [33]:
train_df, test_df = load_data()

In [34]:
train_df.head()

,price,desc,ad_id,location,timestamp,mileage,brand,model,year,fuel,transmission,color,car_type
0,569000,"""‡πÄ‡∏•‡∏Ç‡πÑ‡∏°‡∏•‡πå5,700‡∏Å‡∏¥‡πÇ‡∏•‡πÅ‡∏ó‡πâ 1.3 SP ‡πÇ‡∏â‡∏°‡∏õ‡∏±‡∏à‡∏à‡∏∏‡∏ö‡∏±‡∏ô ‡∏£‡∏ñ2‡πÄ‡∏î‡∏∑...",354186401,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,1584521455,5700,Mazda,Mazda2 Sport,2020,‡πÄ‡∏ö‡∏ô‡∏ã‡∏¥‡∏ô,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥,‡πÄ‡∏ó‡∏≤,‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á
1,1150000,‡∏Ç‡∏≤‡∏¢ Chevrolet c10 ‡∏õ‡∏µ 1965 ‡∏£‡∏ñ‡πÅ‡∏ó‡πâ ‡∏Ç‡∏±‡∏ö‡∏Ç‡∏ß‡∏≤ ‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÇ‡∏≠...,356227846,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,1591021387,1234,Chevrolet,‡∏£‡∏∏‡πà‡∏ô‡∏≠‡∏∑‡πà‡∏ô‡πÜ,1965,‡πÄ‡∏ö‡∏ô‡∏ã‡∏¥‡∏ô,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥,‡πÅ‡∏î‡∏á,‡∏£‡∏ñ‡∏≠‡∏∑‡πà‡∏ô ‡πÜ
2,799000,üì¢‡∏°‡∏≤‡πÅ‡∏ß‡πâ‡∏ß‡∏ß... ‡∏•‡∏Ñ.‡∏ó‡∏µ‡πà‡∏ä‡∏≠‡∏ö‡∏£‡∏ñ‡∏™‡∏µ‡∏Ç‡∏≤‡∏ß‚Äã ‡πÉ‡∏™‡πÜ‡πÄ‡∏•‡∏¢\n‡πÉ‡∏Ñ‡∏£‡πÄ‡∏£‡πá‡∏ß‡∏Å...,356055202,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,1590502642,100000,Mitsubishi,Pajero Sport,2016,‡∏î‡∏µ‡πÄ‡∏ã‡∏•,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥,‡∏Ç‡∏≤‡∏ß,‡∏£‡∏ñ MPV / SUV
3,429000,‡∏£‡∏´‡∏±‡∏™ 130/v36\n2010 toyota CAMRY 2.4 hybrid nav...,356169430,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,1590844871,184921,Toyota,Camry,2010,‡πÑ‡∏Æ‡∏ö‡∏£‡∏¥‡∏î,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥,‡∏î‡∏≥,‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á
4,268000,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á 1.2 E ‡πÇ‡∏â‡∏°‡πÑ‡∏ü‡πÉ‡∏´‡∏°‡πà ‡∏û.‡∏û‡∏≤‡∏ß‡πÄ‡∏ß‡∏≠‡∏£‡πå ‡∏Å.‡πÑ‡∏ü‡∏ü‡πâ‡∏≤ ‡∏ã‡∏ó‡∏•...,354415016,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,1585546785,103000,Nissan,Almera,2016,‡πÄ‡∏ö‡∏ô‡∏ã‡∏¥‡∏ô,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥,‡∏Ç‡∏≤‡∏ß,‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á

In [35]:
test_df.head()

,price,desc,ad_id,location,timestamp,mileage,brand,model,year,fuel,transmission,color,car_type
0,549000,"Option: ‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡πÄ‡∏•‡πà‡∏ô CD, USB, ‡∏Å‡∏£‡∏∞‡∏à‡∏Å‡πÑ‡∏ü‡∏ü‡πâ‡∏≤, ‡πÄ‡∏ã‡πá‡∏ô‡∏ó...",354696215,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,1586421506,31200,Ford,Ranger,2017,‡∏î‡∏µ‡πÄ‡∏ã‡∏•,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥,‡∏î‡∏≥,‡∏£‡∏ñ‡∏Å‡∏£‡∏∞‡∏ö‡∏∞
1,358000,‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ‡∏ö‡πâ‡∏≤‡∏ô 2006 ISUZU MU-7 ‡πÅ‡∏£‡∏á‡πÜ‡πÜ (‡πÄ‡∏á‡∏¥‡∏ô‡∏™‡∏î‡∏•‡∏î‡πÑ‡∏î‡πâ)\...,354237756,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,1584748598,267000,Isuzu,MU-7,2006,‡∏î‡∏µ‡πÄ‡∏ã‡∏•,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥,‡∏ö‡∏£‡∏≠‡∏ô‡∏ã‡πå‡πÄ‡∏á‡∏¥‡∏ô,‡∏£‡∏ñ MPV / SUV
2,529000,üî•‡πÅ‡∏Ñ‡∏õ‡πÄ‡∏õ‡∏¥‡∏î‡πÑ‡∏î‡πâ üî•‡∏£‡∏∏‡πà‡∏ô‡πÉ‡∏´‡∏°‡πà‡∏•‡πà‡∏≤‡∏™‡∏∏‡∏î üî•‡πÅ‡∏£‡∏á ‡∏õ‡∏£‡∏∞‡∏´‡∏¢‡∏±‡∏î ‡πÄ‡∏Ñ‡∏£‡∏∑‡πà...,352545121,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,1577353632,8,Toyota,Hilux Revo,2019,‡∏î‡∏µ‡πÄ‡∏ã‡∏•,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏ò‡∏£‡∏£‡∏°‡∏î‡∏≤,‡∏Ç‡∏≤‡∏ß,‡∏£‡∏ñ‡∏Å‡∏£‡∏∞‡∏ö‡∏∞
3,1135000,TOYOTA NEW FORTUNER 2.8 V 4WD SUV AUTO ‡∏õ‡∏µ 2015...,356194406,‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà,1590918420,100000,Toyota,Fortuner,2015,‡∏î‡∏µ‡πÄ‡∏ã‡∏•,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥,‡∏Ç‡∏≤‡∏ß,‡∏£‡∏ñ MPV / SUV
4,469000,üí¢ ‡∏≠‡∏≠‡∏Å‡∏£‡∏ñ 999 ‡∏ö. üí¢\n#‡∏ü‡∏£‡∏µ#‡∏≠‡∏≠‡∏Å‡∏£‡∏ñ‡∏û‡∏£‡πâ‡∏≠‡∏°‡∏õ‡∏£‡∏∞‡∏Å‡∏±‡∏ô‡∏ï‡∏±‡∏ß‡∏£‡∏ñ 1...,355315874,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,1588235606,NaN,Toyota,Hilux Vigo,2015,‡∏î‡∏µ‡πÄ‡∏ã‡∏•,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏ò‡∏£‡∏£‡∏°‡∏î‡∏≤,‡πÄ‡∏ó‡∏≤,‡∏£‡∏ñ‡∏Å‡∏£‡∏∞‡∏ö‡∏∞

In [36]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7103 entries, 0 to 7102
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         7103 non-null   int64
 1   desc          6932 non-null   object
 2   ad_id         7103 non-null   int64
 3   location      7103 non-null   object
 4   timestamp     7103 non-null   int64
 5   mileage       5441 non-null   object
 6   brand         7103 non-null   object
 7   model         7103 non-null   object
 8   year          7103 non-null   int64
 9   fuel          7103 non-null   object
 10  transmission  6890 non-null   object
 11  color         6848 non-null   object
 12  car_type      7103 non-null   object
dtypes: int64(4), object(9)
memory usage: 721.5+ KB

In [37]:
train_df.isna().sum()

price              0
desc             171
ad_id              0
location           0
timestamp          0
mileage         1662
brand              0
model              0
year               0
fuel               0
transmission     213
color            255
car_type           0
dtype: int64

‡∏à‡∏≤‡∏Å‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏û‡∏ö‡∏ß‡πà‡∏≤
- ‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• mileage ‡πÄ‡∏õ‡πá‡∏ô object ‡∏ï‡πâ‡∏≠‡∏á‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡πÄ‡∏õ‡πá‡∏ô int
- ‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• timestamp ‡πÄ‡∏õ‡πá‡∏ô int ‡∏ï‡πâ‡∏≠‡∏á‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡πÄ‡∏õ‡πá‡∏ô datetime
- ‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡∏°‡∏µ Missing Values ‡πÑ‡∏î‡πâ‡πÅ‡∏Å‡πâ desc, mileage, transmission ‡πÅ‡∏•‡∏∞ color

In [38]:
def clean_data(df):
    clean = df.copy()  
    transmission_mode = clean['transmission'].mode()[0]
    color_mode = clean['color'].mode()[0]
    clean['desc'] = clean['desc'].fillna('')     
    clean['transmission'] = clean['transmission'].fillna(transmission_mode)
    clean['color'] = clean['color'].fillna(color_mode)
    return clean

In [39]:
train_data = clean_data(train_df)
test_data = clean_data(test_df)

- ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• transmission, color ‡πÅ‡∏ó‡∏ô missing values ‡∏î‡πâ‡∏ß‡∏¢‡∏Ñ‡πà‡∏≤ mode
- ‡∏Ç‡πâ‡∏≠‡∏π‡∏°‡∏• desc ‡πÅ‡∏ó‡∏ô missing values ‡∏î‡πâ‡∏ß‡∏¢ ' '

In [40]:
def to_timestamp(df):
    time = df.copy()
    time['timestamp'] = time['timestamp'].apply(lambda x: datetime.datetime.fromtimestamp(x))
    return time

In [41]:
train_data = to_timestamp(train_data)
test_data = to_timestamp(test_data)

- ‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡∏≠‡∏á timestamp ‡∏à‡∏≤‡∏Å int ‡πÄ‡∏õ‡πá‡∏ô datetime

In [42]:
def clean_mileage_for_train(df):
    clean_mile = df.copy()
    def fix_(x):
        try:
            x = int(x)
        except:
            x = np.nan
        return x
    clean_mile['mileage'] = clean_mile['mileage'].apply(lambda x: fix_(x))
    clean_mile['mileage'] = clean_mile['mileage'].fillna(clean_mile['mileage'].mode()[0])
    q1 = clean_mile['mileage'].quantile(0.25)
    q3 = clean_mile['mileage'].quantile(0.75)
    IQR = q3-q1
    upper_limit = q3+1.5*IQR
    lower_limit = q1-1.5*IQR
    outliers = (clean_mile['mileage']>upper_limit) | (clean_mile['mileage']<lower_limit)
    clean_mile[outliers]['mileage'] = clean_mile['mileage'].mode()[0]
    return clean_mile

In [43]:
def clean_mileage_for_test(df):
    clean_mile = df.copy()
    def fix_(x):
        try:
            x = int(x)
        except:
            x = np.nan
        return x
    clean_mile['mileage'] = clean_mile['mileage'].apply(lambda x: fix_(x))
    clean_mile['mileage'] = clean_mile['mileage'].fillna(clean_mile['mileage'].mode()[0])
    return clean_mile

In [44]:
train_data = clean_mileage_for_train(train_data)
test_data = clean_mileage_for_train(test_data)

C:\Users\ASUS\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

- ‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö train data : ‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• mileage ‡πÄ‡∏õ‡πá‡∏ô int ‡πÅ‡∏•‡∏∞‡πÅ‡∏ó‡∏ô missing values ‡∏î‡πâ‡∏ß‡∏¢‡∏Ñ‡πà‡∏≤ mode ‡πÅ‡∏•‡∏∞‡πÅ‡∏ó‡∏ô‡∏Ñ‡πà‡∏≤ outlier ‡∏î‡πâ‡∏ß‡∏¢ mode
- ‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö test data : ‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• mileage ‡πÄ‡∏õ‡πá‡∏ô int ‡πÅ‡∏•‡∏∞‡πÅ‡∏ó‡∏ô missing values ‡∏î‡πâ‡∏ß‡∏¢‡∏Ñ‡πà‡∏≤ mode

# Feature Extraction

In [45]:
def extract_feature(df):
    feat = df.copy()
    # TIMESTAMP_YEAR
    feat['timestamp_year'] = feat['timestamp'].apply(lambda x: x.year)
    # CAR_AGE
    feat['age'] = feat['timestamp_year'] - feat['year']
    feat = feat[feat['age']>0]
    # DESCRIPTION_LENGTH
    feat['length_desc'] = feat['desc'].apply(lambda x: (len(str(x))))
    # MILEAGE PER YEAR
    feat['mileage_per_year'] = feat['mileage']/feat['age']
    feat['mileage_per_year'] = feat['mileage_per_year'].apply(lambda x: 0 if (x==np.inf) else x).fillna(0)
    # LOCATION
    def sort_location(x):
        if x not in ['‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£', '‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ', '‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ', '‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà', '‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ', '‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£']:
            x = 'Other City'
        return x
    feat['location'] = feat['location'].apply(lambda x: sort_location(x))
    # COLOR
    def fix_color(x):
        if x in ['‡∏Ñ‡∏£‡∏µ‡∏°','‡∏ä‡∏°‡∏û‡∏π']:
            x = feat['color'].mode()[0]
        return x
    feat['color'] = feat['color'].apply(lambda x: fix_color(x))
    return feat

‡πÄ‡∏û‡∏¥‡πà‡∏° feature ‡πÉ‡∏´‡∏°‡πà ‡πÑ‡∏î‡πâ‡πÅ‡∏Å‡πà
- timestamp_year : ‡∏õ‡∏µ‡∏ó‡∏µ‡πà‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ
- age : ‡∏≠‡∏≤‡∏¢‡∏∏‡∏Ç‡∏≠‡∏á‡∏£‡∏ñ ‡∏Ñ‡∏¥‡∏î‡∏à‡∏≤‡∏Å timestamp_year - year ‡πÅ‡∏•‡∏∞ drop ‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡∏≠‡∏≤‡∏¢‡∏∏‡∏Ç‡∏≠‡∏á‡∏£‡∏ñ‡∏ï‡∏¥‡∏î‡∏•‡∏ö
- length_desc : ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ï‡∏±‡∏ß‡∏≠‡∏±‡∏Å‡∏©‡∏£‡πÉ‡∏ô desc
- mileage_per_year : mileage ‡∏ï‡πà‡∏≠‡∏õ‡∏µ ‡∏Ñ‡∏¥‡∏î‡∏à‡∏≤‡∏Å mileage/age

‡∏õ‡∏£‡∏±‡∏ö‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô feature ‡πÄ‡∏î‡∏¥‡∏° ‡πÑ‡∏î‡πâ‡πÅ‡∏Å‡πà
- location : ‡πÅ‡∏ö‡πà‡∏á‡∏Å‡∏•‡∏∏‡πà‡∏°‡πÄ‡∏õ‡πá‡∏ô ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£, ‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ, ‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ, ‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà, ‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ, ‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£ ‡πÅ‡∏•‡∏∞ other city
- color : ‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏™‡∏µ‡∏Ñ‡∏£‡∏µ‡∏°, ‡∏ä‡∏°‡∏û‡∏π‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏Ñ‡πà‡∏≤ mode

In [46]:
train_feature = extract_feature(train_data)
test_feature = extract_feature(test_data)

In [47]:
#MODEL_SCORE
scaler = StandardScaler()
scaled_score = scaler.fit_transform(train_df.groupby('model').mean()['price'].values.reshape(-1, 1)).ravel()
model_score = pd.DataFrame()
model_score['model'] = train_df.groupby('model').mean()['price'].index
model_score['score2'] = scaled_score
# MERGE BRAND SCORE
train_feature = pd.merge(train_feature, model_score, how='inner')
test_feature = pd.merge(test_feature, model_score, how='inner')

- ‡∏™‡∏£‡πâ‡∏≤‡∏á dataframe ‡∏ä‡∏∑‡πà‡∏≠ model_score ‡πÅ‡∏•‡∏∞‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢‡∏Ç‡∏≠‡∏á price ‡∏Ç‡∏≠‡∏á‡∏£‡∏ñ‡πÅ‡∏ï‡πà‡∏•‡∏∞ model ‡πÅ‡∏•‡∏∞ merge ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö train_feature

In [48]:
#BRAND_SCORE
scaler = StandardScaler()
scaled_score = scaler.fit_transform(train_df.groupby('brand').mean()['price'].values.reshape(-1, 1)).ravel()
brand_score = pd.DataFrame()
brand_score['brand'] = train_df.groupby('brand').mean()['price'].index
brand_score['score'] = scaled_score
# MERGE BRAND SCORE
train_feature = pd.merge(train_feature, brand_score, how='inner')
test_feature = pd.merge(test_feature, brand_score, how='inner')

- ‡∏™‡∏£‡πâ‡∏≤‡∏á dataframe ‡∏ä‡∏∑‡πà‡∏≠ brand_score ‡πÅ‡∏•‡∏∞‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢‡∏Ç‡∏≠‡∏á price ‡∏Ç‡∏≠‡∏á‡∏£‡∏ñ‡πÅ‡∏ï‡πà‡∏•‡∏∞ model ‡πÅ‡∏•‡∏∞ merge ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö train_feature

In [49]:
# NORMALIZE DATA
scaler = StandardScaler()
train_feature[['mileage','age','mileage_per_year','length_desc']] = scaler.fit_transform(train_feature[['mileage','age','mileage_per_year','length_desc']])
test_feature[['mileage','age','mileage_per_year','length_desc']] = scaler.transform(test_feature[['mileage','age','mileage_per_year','length_desc']])

- Normalize data

In [50]:
def get_feature(df, categorical_data, numerical_data):
    get_feat = df.copy()
    get_feat = get_feat[numerical_data + categorical_data]
    #CATEGORICAL DATA
    mlb = MultiLabelBinarizer() 
    fuel_col = pd.DataFrame(mlb.fit_transform(s.split(' + ') for s in get_feat['fuel']), columns=['fuel_1','fuel_2','fuel_3','fuel_4','fuel_5'])
    get_feat = pd.concat([get_feat, fuel_col], axis=1).drop('fuel', axis=1)
    get_feat = pd.get_dummies(get_feat, columns=categorical_data[:-1])
    return get_feat

- ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å feature ‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£‡πÉ‡∏ä‡πâ train model

In [51]:
categorical_data = ['location','car_type','brand','transmission','color','fuel']
numerical_data = ['price','mileage','mileage_per_year','age','length_desc','score','score2']
train_feature_ = get_feature(train_feature, categorical_data, numerical_data)
test_feature_ = get_feature(test_feature, categorical_data, numerical_data)

# Train and Evaluate Model

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.linear_model import LinearRegression

In [53]:
X = train_feature_.drop('price', axis=1)
y = train_feature_['price']
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=100)

In [54]:
X_test = test_feature_.drop('price', axis=1)
y_test = test_feature_['price']

‡πÅ‡∏ö‡πà‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏≠‡∏≠‡∏Å‡πÄ‡∏õ‡πá‡∏ô 3 ‡∏™‡πà‡∏ß‡∏ô
- train : ‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö train model
- validation : ‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡∏õ‡∏£‡∏∞‡πÄ‡∏°‡∏¥‡∏ô‡∏Ñ‡πà‡∏≤ MSE, R-Squared
- test : ‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡∏à‡∏£‡∏¥‡∏á

In [55]:
def train_model(X_train, y_train, learning_rate, n_estimators, max_depth):
    model =GradientBoostingRegressor(random_state=0, learning_rate=learning_rate, n_estimators=n_estimators, max_depth=max_depth)
    model.fit(X_train, y_train)
    return model

- train ‡πÇ‡∏î‡∏¢‡πÉ‡∏ä‡πâ Gradient Boosting Regressor ‡∏õ‡∏£‡∏±‡∏ö Hyperparameter 3 ‡∏ï‡∏±‡∏ß ‡πÑ‡∏î‡πâ‡πÅ‡∏Å‡πâ learning rate, n_estimators, max_depth

In [56]:
model = train_model(X_train, y_train,learning_rate=0.1, n_estimators=100, max_depth=7)
prediction = model.predict(X_val)

In [57]:
def eval_acc(y_val, prediction):
    acc = mean_squared_error(y_val, prediction)
    acc2 = r2_score(y_val, prediction)
    return (acc, acc2)

In [58]:
def pipeline(learning_rate=0.1, n_estimators=100, max_depth=7):
    model = train_model(X_train, y_train, learning_rate, n_estimators, max_depth)
    prediction = model.predict(X_val)
    acc = eval_acc(y_val, prediction)
    model2 = train_model(X, y, learning_rate, n_estimators, max_depth)
    prediction = model.predict(X_test)
    acc2 = eval_acc(y_test, prediction)
    return acc, acc2, model, model2

In [59]:
acc, acc2, model, model2 = pipeline(learning_rate=0.1, n_estimators=100, max_depth=7)
print('Evaluate Validation Dataset')
print('MSE: ', (acc[0]))
print('R-Squared: ', acc[1])
print('-----------------------------------------------')
print('Evaluate Test Dataset')
print('MSE: ', (acc2[0]))
print('R-Squared: ', acc2[1])

Evaluate Validation Dataset
MSE:  56171349979.0781
R-Squared:  0.8816087254971833
-----------------------------------------------
Evaluate Test Dataset
MSE:  55092689892.11596
R-Squared:  0.8272322150360776

In [60]:
feat_imp = pd.DataFrame([X_train.columns, model.feature_importances_]).T
feat_imp.columns = ['feature','importance']
feat_imp.sort_values(by='importance', ascending=False).head(10)

             feature  importance
5             score2    0.583765
59       color_‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ß    0.112316
2                age   0.0947726
4              score   0.0586141
3        length_desc   0.0524003
0            mileage   0.0310862
40     brand_Porsche    0.023697
1   mileage_per_year   0.0147567
9             fuel_4   0.0056024
8             fuel_3  0.00324933